html { scroll-behavior: smooth; }
.gallery-container {
max-width: 400px;
margin: auto;
}


.main-image {
width: 100%;
height: 450px;
object-fit: cover;
border-radius: 12px;
cursor: pointer;
}

.thumb-container {
overflow-x: auto;
white-space: nowrap;
padding-bottom: 10px;
}

.thumb-img {
width: 180px;
height: 110px;
object-fit: cover;
border-radius: 8px;
margin: 0 6px;
cursor: pointer;
transition: .3s;
display: inline-block;
}

.thumb-img:hover {
opacity: .8;
transform: scale(1.05);
}

/* Fullscreen modal */
.carousel-item img {
width: 100%;
height: 90vh;
object-fit: contain;
background: #000;
}

.modal-content {
background: rgba(0,0,0,0.95);
border: none;
border-radius: 0;
}

.slide-counter {
position: absolute;
top: 20px;
right: 25px;
color: #fff;
font-weight: bold;
z-index: 10;
font-size: 18px;
}

.btn-close-custom {
position: absolute;
top: 20px;
left: 25px;
background: rgba(255,255,255,0.2);
border: none;
border-radius: 50%;
width: 38px;
height: 38px;
color: white;
font-size: 22px;
cursor: pointer;
z-index: 10;
display: flex;
align-items: center;
justify-content: center;
transition: background .3s;
}

.btn-close-custom:hover {
background: rgba(255,255,255,0.5);
}

.butns {
  padding-top: 50px;
  margin-top: 50px;
}
.butn {
  margin: 30px;
  padding: 10px 20px;
  font-size: 18px;
}